@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #d9f1ff;
}

.comments-form {
  height: 100%;
  margin: auto;
  width: 50%;
  background-color: #f1f1f1;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 3px 3px 9px black;
  margin-top: 30px;
}
.comment {
  margin: auto;
  width: 50%;
  background-color: #f1f1f1;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 3px 3px 9px black;
}

.input-group {
  margin-bottom: 16px;
}
.input-group #your-comment {
  padding-bottom: 8px;
}

.input-group #your-title {
  padding-bottom: 8px;
}

.input-group #your-img {
  padding-bottom: 8px;
}
.input-group label,
.input-group input,
.input-group textarea {
  display: block;
  width: 100%;
}

input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 17px;
}

.input-group input,
.input-group textarea {
  border-radius: 8px;
  border: 1px solid #99c0e1;
  padding: 8px;
  font-size: 16px;
}
input-group textarea {
  resize: vertical;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #7997af;
}

.error-message {
  margin-bottom: 16px;
  color: firebrick;
  font-size: 17px;
  font-weight: bold;
}

/* USING EM FOR BUTTONS */
.button {
  padding: 0.7em 2.5em;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  border-radius: 0.5em;
  border: 0;
  background-color: #7997af;
  color: white;
  cursor: pointer;
}

.sub-title {
  text-align: center;
  margin-top: 32px;
}

.comment {
  margin-top: 16px;
}
.img-container {
  width: 30%;
}
img {
  width: 100%;
  width: 100%;
  object-fit: cover;
}
.comment-header {
  display: flex;
}

.comment-header h2 {
  text-align: center;
  flex: 1;
  align-self: center;
}

.comment-body {
  border-top: 1px solid #7997af;
  margin-top: 16px;
  padding-top: 16px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------          NAVBAR CSS            --------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}
.navbar {
  background-color: #7997af;
}
.navbar-nav {
  list-style: none;
  gap: 32px;
  font-size: 14px;
}
.nav-link {
  text-decoration: none;
  color: white;
  padding: 16px;
  display: inline-block;
}
.nav-link:hover {
  background-color: #6b869c;
}
.nav-link:nth-child(1) {
  margin-left: -16px;
}
.nav.link.active {
  text-decoration: underline;
  color: white;
}
.login-btn {
  margin-right: 30px;
  border: 0;
  padding: 16px;
  background-color: #7997af;
  color: white;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}
.login-btn:hover {
  background-color: #6b869c;
}


.avatar-dropdown {
  position: relative;
}
.avatar {
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
  height: 35px;
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dropdown {
  position: absolute;
  width: 150px;
  background-color: white;
  padding: 8px;
  box-shadow: 2px 2px 6px black;
  border-radius: 4px;
  right: 0;
  bottom: -8px;
  transform: translateY(100%);
}
.logout-btn {
  width: 100%;
  padding: 8px;
  border: 0;
  border-radius: 8px;
  background-color: #7997af;
  color: white;
  text-transform: uppercase;
  font-weight: 600px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #3e4e5a;
}

.logout-btn:active {
  background-color: #5fa6e0;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------          LOADER CSS            --------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */

.loader {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.356);
  inset: 0;
  z-index: 1000;
  display: grid;
  place-items: center;
}

.spinner {
  width: 75px;
  aspect-ratio: 1;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top-color: rgb(24, 131, 197);
  border-bottom-color: rgb(13, 112, 194);
  animation: spin 700ms infinite linear;
}

@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
